{% extends 'base.html' %} 

{% block logout %}
    <main class="main d-flex align-items-center vh-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form method="post">{% csrf_token %}
                                    <h1>Login</h1>
                                        {% if form.errors %}
                                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                                            <i class="fa fa-warning" aria-hidden="true"></i>
                                            <div class="ms-2">
                                                Tu usuario y contraseña no coinciden. Intente nuevamente.
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% for field in form.visible_fields %}
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">
                                            {{field.label}}
                                            {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                                        </label>
                                        {{field}}
                                    </div>
                                    {% endfor %}

                                    <div class="row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary px-4">
                                                Login
                                            </button>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card py-5 d-md-down-none" style="width: 44%">
                            <div class="card-body text-center">
                                <div class="container mt-3">
                                    <div class="text-center">
                                        <img src="../../static/img/gadlogo.png" alt="logo del gad">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}