{% extends 'base.html' %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card me-5 ms-5 mt-3 mb-3">
    <div class="card-header">
        <h5 class="card-title">Penalización</h5>
    </div>
    <div class="card-body">
        <form method="post"> {% csrf_token %}

            {{form.as_p}}

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'employee:list_penalty' %}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>
{% endblock %}