{% extends 'base.html' %}

{% block nav %}
{% include 'sidebar.html' %}
{% endblock %}

{% block content %}
<div class="m-3">
    <div class="card">
        <div class="card-header">
            <a href="{% url 'employee:new_employee' %}" class="btn btn-primary"><i class="fa fa-plus-circle"></i>
                Agregar Empleado</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">CI</th>
                        <th scope="col">Departamento</th>
                        <th scope="col" class="text-center">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{employee.name}}</td>
                        <td>{{employee.lastname}}</td>
                        <td>{{employee.identification}}</td>
                        <td>{{employee.department}}</td>
                        <td class="d-flex justify-content-center">
                            <div class="mr-1">
                                <a class="btn btn-primary" href="{% url 'employee:update_employee' employee.id %}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </div>
                            <div>
                                <button type="button" id="showModal" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-employee="{{employee.id}}" data-bs-target="#myModal">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}


{% block modal%}
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar registro</h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa fa-close" aria-hidden="true"></i></button>
            </div>
            <div class="modal-body">
                <p>Esta seguro que desea elimonar este registro?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="print()">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const print = () => {
        const button = document.getElementById('showModal')
        console.log(myModal)
        console.log(button)
    }

</script>
{% endblock %}